$fs-normal: 14px;
$fs-small: 12px;
$fs-large: 24px;
$fs-larger: 30px;
$fs-largest: 48px;
$fs-huge: 48px;
$fs-huger: 48*2px; //golden-ratio($fs-normal,  4);
$fs-hugest: $fs-huger * 2; //golden-ratio($fs-normal,  4);

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$white-faded-tons:       rgba(#FFF, .05) !default; // #555
$white-faded-some:       rgba(#FFF, .5) !default; // #555
$white-faded-barely:     rgba(#FFF, .8) !default; // #555

$tablet-width: 768px;
$mobile-width: 488px;

// Brand colors
// -------------------------

$brand-primary:         #428bca !default;

$baseline-color: white;
$gray-moody: #272822;
$blue-deep: #061F47;
$blue-bright: #5DE1E5;
$blue-nobel: #006FA0;
$blue-subtle: #094279;
$blue-electric: hsl(180, 86%, 41%); // #;
$orange-electric: hsl(37, 86%, 41%); // #;
$green-electric: hsl(70, 86%, 41%); // #;
$red-electric: hsl(5, 86%, 41%); // #;
$green-light: #E7FFAC;
$clr-button-primary: $baseline-color;
$clr-button-border: $baseline-color;
$clr-border: $white-faded-some;
$clr-button-background: transparent;
$clr-button-color: $baseline-color;
$clr-background: $blue-electric;
$clr-text-secondary: $baseline-color;
$vertical-unit: 		 24px;