/* Forum default styles, SASS version 0.01; */
/* TODO:
	- table of contents
	- add notes to trickier bits for users
*/

@import "variables";
@import "mixins";

/* SCAFFOLD */
.forum-namespace{
	//border-top: 20px maroon solid;
	color: $gray;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1em;
	hr{
	  border: 0; // zero out
	  border-top: 1px solid $gray-faded-some;
	  margin-top:    $line-height;
	  margin-bottom: $line-height;
	}
	ol,
	ul{
		margin-top: 0;
		margin-bottom: 15px;
	}
	figure{ margin: 0; }
	blockquote{
		background-color: $gray-faded-lots;
		border-left: .5em $gray-faded-lots solid;
		font-size: $font-size-big;
		line-height: 1.1;
		margin-left: 0;
		margin-right: 0;
		padding: 1.25em;
		.quote_author{
			font-size: $font-size-base;
			color: $gray-light;
		}
		*{ 
			&:last-of-type{ margin-bottom: 0; }
		}
	}
	a{
		color: $color-action;
		text-decoration: none;
		&:hover,
		&:focus{
			color: $color-action-dark;
			text-decoration: underline;
		}
	}
	textarea{
		font-size: $font-size-base;
		width: 100%;
	}
	details{ margin-top: 7px; }
 	summary{ outline: none; }
}

/* GRID */
// Keeping gridding away from markup for cleanest integration 
// because this forum will go into other peoples' sites, many of 
// which uses a grid already
.forum-breadcrumb-container,
.forum-grouping,
.forum-grouping-item,
.forum-form,
.forum-header-row{
	@include col-wrap;	// See mixins
}

.forum-breadcrumb-container,
.forum-grouping > header,
.forum-grouping-container,
.forum-reply-control,
.forum-reply-label,
.forum-search-container,
.forum-section-title,
.post-primary-info{
	@include col(12);
}

.forum-thread-post-content{ @include col(12); }
.forum-thread-primary-info{ @include col(12); }

.post-latest-info{ @include col(6); }
.post-tally{ @include col(3); }

/* FORUM PIECES */
.forum-header-row{ margin-bottom: 1em; }
.forum-grouping{
	margin-bottom: 2.5em;
	&:last-child{ margin-bottom: 0; }
}
.forum-grouping-container{
	border-top: 1px $gray-faded solid;
	@include box-shadow(0, 4px, 0, -2px, $gray-faded-lots, inset);    
}
.forum-section-title{ margin-bottom: 15px; }
.forum-grouping-item{
	border-bottom: 1px $gray-faded solid;    
	padding-bottom: 10px;
	padding-top: 10px;    
	h4{ margin-bottom: .25em; margin-top: 0; }
	&:nth-child(odd){
		.alternate-colors &{ background-color: $gray-faded-lots; } 
	}     
}
.forum-avatar{
	height: 36px;
	margin-right: .75em;
	width: 36px;
	position: absolute;
}
.post-primary-info{ margin-bottom: 1.25em; }
.post-tally{ text-align: right; }
.avatar-indent{
	display: block;
	margin-left: 43px;
} 
.meta{ font-size: $font-size-small; } 
.forum-breadcrumb{
	background: transparent;
	list-style: none;
	padding: 0;
	li{ display: block; }
	// targets "between" breadcrumb items
	> li+li::before{
		color: $gray;        
		content: "└";
		padding: 0 5px;
	}
}

/* FORUM PIECES, THREADS */
.forum-signature{ font-size: $font-size-small; }
.forum-thread-primary-info{
	background-color: $gray-faded-lots;
	border-bottom: 1px $gray-light solid;
	font-size: $font-size-small;   
	margin-bottom: 1em;
	margin-top: -10px;
	padding-bottom: 10px;
	padding-top: 10px;
	figure{
		figcaption{ text-align: right; }
		img{
			float: left;
			margin-right: .75em;
			max-height: 32px;			
			overflow: hidden;
			@include border-radius(4px); 
		}
	}    
}
.forum-number-posts{ font-weight: bold; }
.forum-post-header{ 
	margin-bottom: 1em;
	h4 time{ display: block; font-size: $font-size-base; }
}
.forum-form{
	margin-bottom: 20px;
	margin-top: 20px;
	&:last-child{ margin-bottom: 0; }
}

/* INPUT AND STUFF */
.forum-input{
	background-color: $lightest;
	background-image: none;
	border-radius: 4px;    
	border: 1px solid $gray-faded;
	color: $gray;
	font-size: $font-size-base;
	min-height: 34px;
	line-height: $line-height;
	padding: 6px 12px;
	vertical-align: middle;
	width: 100%;
}
.forum-input-wrapper{
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;    
}
// not for direct use, just extending
%dropdown-cta{
	content: " ";
	display: inline-block;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid;
	height: 0;
	margin-left: 6px;
	vertical-align: middle;
	width: 0;
}
.forum-button {
	background-color: $color-action;    
	background-image: none;
	border: 1px solid transparent;
	color: $lightest;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size-base;
	font-weight: normal;
	line-height: inherit;
	margin-bottom: 0;
	margin-top: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	@include border-radius($border-radius-base);
	@include user-select(none);
	&.with-dropdown:after{
		@extend %dropdown-cta;
	}
}
	.hollow-button{
		background-color: $lightest;
		border-color: $gray-light;
		color: $gray;
		&:hover{ background-color: $gray-faded-lots; }
	}
	.small-button{
		font-size: $font-size-small;
		line-height: 1.5;
		padding: 1px 5px;
	}
.forum-search{ width: auto; }
.forum-toolbar{
	display: inline-block;
	.forum-button{
		@extend .hollow-button;
		@extend .small-button;
	}
}
.forum-button-group{
	display: inline-block;
	margin-right: .5em;
	.forum-button{
		float: left;
		margin-left: 0;
		margin-right: 0;
		&:first-child{
			@include border-radius(4px 0 0 4px);

			border-right: 0;
		}
		&:last-child{
			@include border-radius(0 4px 4px 0);
		
		}
		&:not(:last-child):not(:first-child){
			border-right: 0;			
			@include border-radius(0);
		}
	}
}
.forum-action-zone,
.forum-search{ padding: 10px 0; }
.forum-checkbox{ margin-top: .5em; }

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	line-height: 1.1;
}
h1, h2, h3{ margin-bottom: 10px; }

h2{
	font-size: $font-size-bigger;
	margin: 0;
	padding-top: 20px;
}
h3{
	color: $gray;
	font-size: $font-size-base;
	font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
}
h4{ font-size: $font-size-big; }

/* MOCKUPS ONLY */
// Dirty shortcut for speed, will replace
*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.forum-avatar{
	background: transparent none no-repeat left top;
	background-size: cover;	
		&.v0{ background-image: url(../images/avatars/avatar_10599.png); }
		&.v1{ background-image: url(../images/avatars/avatar_127906.jpg); }
		&.v2{ background-image: url(../images/avatars/avatar_86482.gif); }
		&.v3{ background-image: url(../images/avatars/kevvo.gif); }
		&.v4{ background-image: url(../images/avatars/dylan.jpg); }
}

/* SMALL SCREENS AND UP */
@media screen and (min-width: $screen-small-minimum){

	/* SCAFFOLD */
	.forum-namespace{ width: 750px; 
		blockquote{ padding-left: 2.5em; }
	}

	/* GRID */
	.forum-reply-control,
	.forum-thread-post-content{ @include col(10); }
	
	.forum-reply-label,	
	.forum-thread-primary-info{ @include col(2); }


	/* FORUM PIECES */
	.forum-section-title{ margin-bottom: 0; }
	.forum-breadcrumb{
		li{ display: inline-block; }
		// targets "between" breadcrumb items
		> li+li::before{
			content: "/\00a0";
		}		
	}
	/* FORUM PIECES, THREAD */
	.forum-thread-post-content{
		margin-top: .5em;
	}
	.forum-thread-primary-info{
		background: none;
		border-bottom: none;
		margin-top: 0;
		figure {
			figcaption{
				margin-top: 1em;  
				opacity: .65;   //?
				text-align: left;           
			}
			img{ float: none; max-height: 56px; }
		}		
	}
	.forum-action-zone,
	.forum-search{
		border: 0;
		box-shadow: none;
		margin: 8px 0;        
	}
	[role=thread-actions]{ text-align: right; }
	.forum-post-header{ 
		position: relative;
		h4 time{ display: inline-block; float: right; }
	}	
}

/* MIDSIZE SCREENS AND UP */
@media screen and (min-width: $screen-midsize-minimum){

	/* SCAFFOLD */
	.forum-namespace{ width: 970px; }    

	/* GRID */	
	.post-latest-info{ @include col(3); }
	.post-tally{ @include col(2); }
	.post-primary-info{ @include col(5); }    

	/* FORUM PIECES */
	.post-primary-info{ margin-bottom: 0; }    
}

/* BIGGER SCREENS and up */
@media screen and (min-width: $screen-big-minimum){
	/* SCAFFOLD */	
	.forum-namespace{ width: 1170px; }

	/* GRID */
	.forum-section-title{ @include col(8); }
	.forum-search-container{ @include col(4); }

	/* FORUM PIECES */	
	.forum-search{ float: right; }  
}