@import "normalize";
@import "variables";
@import "mixins";

//@import url(http://basehold.it/24);

@font-face {
    font-family: HelveticaSauce;
    src: url("/fonts/UniversLTStd-ThinUltraCn.otf") format("opentype");
}

@font-face {
    font-family: HelveticaSauce;
    font-weight: bold;
    src: url("/fonts/UniversLTStd-UltraCn.otf") format("opentype");
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html{ height: 100%}

body{
    margin: 0;
//    font-size: 10em;
    color: $baseline-color;
    //line-height: $fs-normal * 3;
    font-size: $fs-normal;
    line-height: 1;
    min-height: 100%;
    @extend .big-serious;
}

h1, h2, h3, h4, h5, h6{
    font-size: inherit;
    //font-weight: normal;
    margin: 0;
}
h2{
    //font-size: $fs-larger;
    background-color: transparent; //cyan;
    color: $clr-text-secondary;
    margin: 0;
    //font-weight: normal;
    //line-height: $fs-large;
}

h3{
    color: $white-faded-some;
    font-weight: normal;
    span{       
        color: white;
        font-weight: bold;
    }
}

footer{ 
    @include col-wrap;
}

.timer{
    font-size: $fs-larger;
    letter-spacing: 1px;
    font-family: HelveticaSauce, sans-serif;  
    text-transform: uppercase;
    font-weight: bold;        
    @include col(12);
    @media(min-width: $tablet-width) {
        //font-size: 64px;
        //text-indent: 777px;
        font-weight: normal;
        text-transform: none;     
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }
    *{ -webkit-user-select: none; user-select: none; }
}

.sexy-back{
    //background-color: $gray-moody;
    bottom:0;
    left:0;
    position: absolute;
    right:0;    
    top:0;
    z-index: -1;
    text-indent: -9999em;
    @include transition (background-color .25s ease-in-out);    
    &.calibrating{
        background-color: $gray-moody;
    }
    &.ready{
        background-color: $blue-electric;
    }
    &.work{
        background-color: $green-electric;
    }
    &.rest{
        background-color: $red-electric;
    }
    &.finished, &.warmup{
        background-color: $blue-electric;        
    }
}

.button{
    background-color: transparent;
    display: inline-block;
    //padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    text-transform: inherit;
    -webkit-user-select: none;
}

.button-default{
    color: $baseline-color;
    //background-color: #fff;
    border-color: $clr-button-border;       
}

.big-serious{
}

.dimension, .total-time{
    padding-top: 15px;
    padding-bottom: 15px;       
    @media(min-width: $tablet-width) {
        //padding-bottom: 7px;
        //text-indent: 777px;

    }
}

time{
    text-align: right;
    .total-time &, 
    .big-time &{
        font-weight: bold;
        //font-size: $fs-huger;
    }
    //font-weight: bold;
}   

button{
    @extend .button;
    @extend .button-default;
    @extend .big-serious;   
    &.action{
        //background-color: white;
        background-color: $clr-button-background;
        color: $white-faded-barely;
        border-color: $clr-button-border;
        padding: 12px 12px 0px;
        border-radius: 50%;

    }   
    &.less, &.more{
        background-color: transparent;              
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        padding: 0;
        text-indent: -9999em;
        width: 42px;
        height: 42px;
        // @media(min-width: $tablet-width) {
        //     width: 64px;
        //     height: 64px;
        // }

    }
    &.less{
        background-image: url(../images/minusFFFFFF.svg);
        //right: 0;
    }
    &.more{
        background-image: url(../images/plusFFFFFF.svg);      
    }
    &:not(.ng-hide) + &{
        // when one button follows another
        margin-left: $fs-small;
    }
    &.verbal{
        //font-weight: bold;
        height: $fs-huger;
        padding: 8px 0 0; // because custom fonts
        width: $fs-huger;
        @media(min-width: $tablet-width) {
            height: 96px;
            padding: 0;
        }       
    }
    //@include transition (all .25s ease-in-out);
    &:hover{
        color: $baseline-color;
        background-color: $white-faded-tons;        
        border-color: $white-faded-some;
    }
}

/* LAYOUT */
.dimension{
    border-bottom: 1px $clr-border solid;
    line-height: 1.7;
    max-height: $vertical-unit * 3;
    @include col-wrap;
    &.big-time{
        max-height: $vertical-unit * 5;   
        @media(min-width: $tablet-width) { 
            max-height: $vertical-unit * 8;   
        }             
    }
    >h2{
        @include col(3);
        //@extend .big-serious;
        .at-work &{
            @include col(7);           
        }
        span{
            display: none;
            @media(min-width: $tablet-width) { 
                display: inline;  
            }              
        }
    }
    >time{
        @include col(4);
    }

    &.repeat time{
        &:after{
            @media(min-width: $tablet-width) { 
                color: $white-faded-some;
                content: "x";
                font-size: $fs-larger;
                text-transform: none;
                font-weight: normal;
                position: absolute;
                right: -2px;                
            } 
        }
    }

    >aside{
        text-align: right;
        @include col(5);       
    }
    >nav, >time, >h2{
        height: 42px;
        @media(min-width: $tablet-width) { 
            @include col(4);
        }           
    }
    >h2{ @include col(3); }
    >time{ @include col(4); }
    >nav{ 
        text-align: right;
        //font-size: $fs-large;
        //margin-top: -10px;
        @include col(5); 
        @media(min-width: $tablet-width) {
            //margin-bottom: -8px;
            //text-indent: 777px;
        }   
    }    
}

// on the calibrate screen
.total-time{
    h2{
        display: none;
        @media(min-width: $tablet-width) {
            display: block;
        }
    }
    time{
        text-align: left;
        font-size: 132px;
        //letter-spacing: -6px;
        font-weight: normal;
        @media(min-width: $tablet-width) {
            font-size: $fs-huger;
            height: 166px;
            position: relative;
            text-align: right;
            @include col(5);
            span{
                position: absolute;
                right: 0;
            }   
            //@include col(3);
        }       
    }
    nav{ 
        margin-top: 0;
        text-align: right;
        @include col(5);
        .at-work &{
            text-align: center;
            @include col(12);              
            // @media(min-width: $tablet-width) {  
            //  margin-top: -12px;          
            // }
        }
        .at-rest &{ 
            //margin-top: -12px;          
            @media(min-width: $tablet-width) { 
                margin-top: 0;
            }
        }
    }
    >nav, >time, >h2{
        @include col(6);
        @media(min-width: $tablet-width) { 
            @include col(4);
        }           
    }
    >nav{
        @media(min-width: $tablet-width) { 
            @include col(5);
        }      
    }
    >time{
        @media(min-width: $tablet-width) { 
            @include col(5);
        }      
    }
    >h2{
        @media(min-width: $tablet-width) { 
            @include col(2);
        }      
    }        
}

.big-time{
    // on the work screen
    time{
        font-size: $fs-huger;
        height: 88px;
        line-height: 1;
        padding-top: 8px;
        text-align: center;
        @media(min-width: $tablet-width) {
            font-size: 132px;
            height: 160px;          
        }       
        @include col(12);
    }
}

.touch-zone{
    nav{
        text-align: center;
        margin-top: 0;
        @include col(12);      
    }
}


nav{
    line-height: 0;
}
