<section class="timer at-rest calibrating row">
	<header class="row">
		<div class="work dimension row">
			<h2 class="dimension-label">Work</h2>
			<time class="dimension-time-value">{{ $parent.data.workSeconds | digitalTime }}</time>
			<nav class="adjust-work">
				<button ng-click="lessWork()" class="action less">less</button><!--
			 --><button ng-click="moreWork()" class="action more">more</button>
			</nav>
		</div>
		<div class="rest dimension row">
			<h2 class="dimension-label">Rest</h2>
			<time class="dimension-time-value">{{ $parent.data.restSeconds | digitalTime }}</time>
			<nav class="adjust-work">
				<button ng-click="lessRest()" class="action less">less</button><!--
			 --><button ng-click="moreRest()" class="action more">more</button>
			</nav>
		</div>
		<div class="repeat dimension row">
			<h2 class="dimension-label">Rep<span>etition</span>s</h2>
			<time class="dimension-time-value multipled">{{ $parent.data.numReps }}</time>
			<nav class="adjust-work">
				<button ng-click="lessReps()" class="action less">less</button><!--
			 --><button ng-click="moreReps()" class="action more">more</button>
			</nav>
		</div>
	</header>
	<footer class="total-time row">
			<h2 class="placeholder-col">&nbsp;</h2>
			<time class="time-total-col"><span>{{ $parent.calcTotalSeconds() | digitalTime }}</span></time>
			<nav class="start-work-col">
				<button ng-click="goToWork()" class="action verbal start">start</button>
			</nav>
	</footer>
</section>
