<section class="timer at-work working row">
	<header class="row">
		<div class="work dimension row">
			<h2 class="current-state-col">{{ $parent.stateName }}</h2>
			<aside class="current-rep-col">
				<h3><span class="current-rep">{{ $parent.currentRound || '0' }}</span>/<span class="of-total">{{ $parent.data.numReps }}</span></h3>
			</aside>
			<nav class="action-col">
				<button ng-click="quit()" class="button-small done">quit</button>
			</nav>
		</div>
		<div class="big-time dimension row">
			<button class="skip-around action previous" ng-click="goToPreviousCycle()" ng-show="$parent.showPrevious">←</button>
			<time>
				<div ians-timer ng-attr-cycle="$parent.data.cycle" ng-attr-seconds="$parent.data.totalSeconds" ng-attr-rounds="$parent.data.numReps">&nbsp;</div>
			</time>
			<button class="skip-around action next" ng-click="goToNextCycle()" ng-show="$parent.showNext">→</button>
			<!-- <timer countdown="$parent.data.totalSeconds" interval="1000" autoStart="false">{{minutes}}:{{seconds | padWithZeros}}</timer> -->
			<!-- <div ians-timer ng-attr-seconds="$parent.data.totalSeconds" ng-attr-rounds="$parent.data.numReps">place</div> -->
		</div>
	</header>
	<footer class="total-time touch-zone row">
		<nav class="timer-action-col">
			<div class="action-buttons-wrap">
				<button ng-click="stopTimer()" ng-show="timerRunning" class="action verbal pause">pause</button>
				<button ng-click="startTimer()" ng-show="!timerRunning" class="action verbal go">go</button>
				<div id="progress">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="100%" height="100%" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve">
					<g>
						<path class="path" ng-style="$parent.progressStyle" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" d="M138,72c0,18.2-7.4,34.7-19.3,46.7S90.2,138,72,138s-34.7-7.4-46.7-19.3S6,90.2,6,72s7.4-34.7,19.3-46.7
							S53.8,6,72,6s34.7,7.4,46.7,19.3S138,53.8,138,72z"/>
					</g>
					</svg>
				</div>
				</div>
		</nav>
	</footer>
	<!-- <div>{{ timerConsole }} </div> -->
</section>
